# Copia este archivo como .env y ajusta los valores
# Nunca subas .env a GitHub

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=bsg_user
MYSQL_PASSWORD=bsg_pass
MYSQL_DATABASE=bsg_curso

AIRFLOW_HOME=./airflow_home
AIRFLOW__CORE__LOAD_EXAMPLES=False
