# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Datos sensibles
.env
*.csv
*.parquet
!data/raw/.gitkeep
!data/processed/.gitkeep

# Airflow
airflow_home/
logs/
*.log

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/
